<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="/static/css/weather.css">
	</head>
	<body class="error">
		<h2>Hoppla, das hätte nicht passieren dürfen!</h2>
		<h1>500</h1>
		Internal server error
	</body>
</html>